*{ 
    padding: 0px;
    margin: 0px;

}

.container{
           background-color:gray;    
            display: grid;
            
            gap: 5px;
           
}

.header{
    background-color: green;
    width: 100%;
    height: 100px;
    
}

.aside{
 background-color: indianred;
 width: 18%;
 height: 300px;

}
.main{
background-color: indigo;
}