@charset "UTF-8";

*{
    padding:0px;
    margin: 0px;

}
    .container{
     background-color: rgb(31, 34, 26);
     border-radius: 5px solid black;
     width: 100%;
     height: 100vh;
     display: grid;
     
     grid-template-areas: " menu menu menu menu menu menu menu menu menu menu menu menu " 
     



     "aside  aside   null   null   main   main   main   main  main   main   main   main"
     "aside  aside   null   null   main   main   main   main   main  main   main   main"
     "footer footer footer footer footer footer footer footer footer footer footer footer";
     
    
     
     
    
     


    }
    .menu{ width: 16850px;
        height: 70px;
        background-color: indigo;
        grid-area: menu;
    }

    .conteudo{ width: 100%;



        grid-area: conteudo;


    }


    .rodape{ width: 100%;
             height: 50px;
             background-color: lightcoral;
             grid-area: rodape;
             

    }