
    

.grid-container{
    display: grid;
    grid-template-columns: 100% 30% 20%;


}
.img1{
    width: 50%;
    height: 400px;
  
}


.img2{ 
    width: 30%;
    height: 400px;

}

.img3{
    width: 20%;
    height: 400px;


}


.img4
