*{padding: 0px;
    margin: 0px;

}





.container{    /* elemento papai*/
    width: 100%;   /* para ocupar 100% do tamanho disponível*/
    height: 100%;
    display: grid;     /* sempre no pai-- colocar primeiro*/
    grid-template-columns: 1fr 1fr  1fr;  /* quantidade de colunas -- duas colunas sendo que cada uma ocula 1 fração de espaço*/
margin: 8px;
gap: 8px;

    

}

div{ 
    height: 200px;
    width: 200px;


}


.red{ 
    background-color: red;

}

.blue{ 
    background-color: blue;
    
}

.green{ 
    background-color: green;
    
}

.yellow{ 
    background-color: yellow;
    
}