.container{
    width: 100%;   /* para ocupar 100% do tamanho disponível*/
    height: 100%;
}

div{ 


}


.red{ 
    background-color: red;

}

.blue{ 
    background-color: blue;
    
}

.green{ 
    background-color: green;
    
}

.yellow{ 
    background-color: yellow;
    
}